img{
    max-width:100%;
    vertical-align: top;
}
body{
    font-family:"Pacifico";
    margin: auto;
    width: 550px;
}
#linea1{
    display:flex;
    align-items: center;
    margin:10px 0 0 19px;

}
#credito{
 color:orange;
 font: size 1.5em;
}
#dinero{
    font-size: 5em;
    line-height: 70px;

}
#euro{
    font-size: 1.4em;
}
#tirar{
    width:180px;
    height: 180px;
    background-color: #fff0c9;
    border-radius: 50%;
    border:6px solid crimson;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:4em;
    box-shadow: 0 0 13px black inset;
    user-select:none;
    -moz-user-select:none;
    cursor:pointer;
    position: absolute;
    right:0;
    left: 0;
    margin:auto;
    top:30px;

    
}
header{
    position: relative;
    height: 195px;
}
#ventanas{
    display:flex;
    justify-content: space-around;
}
.ventana{
    width:175px;
}
.imagen{
    border: 4px solid crimson;
    border-radius: 10px;
    padding: 30px;
}
.boton{
    border: 4px solid crimson;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
    font-size: 1.2em;
    background-color: #fff0c9;
    box-shadow: 0 0 10px black inset;
    margin-top: 12px;
    cursor: pointer;
    user-select: none;
    -moz-user-select:none;

}
#tirar:hover, .boton:hover{
    background-color: white;
    box-shadow: 0 0 13px crimson inset;

}
#monedas img{
    width: 28px;
    margin:1px;


}
#monedas{
    margin:10px 0 0 19px;
    width: 160px;
    height: 115px;
    overflow: hidden;
    
}
#mensaje img{
    width: 30px;
    margin: 2px;
}
#velo{
    position: fixed;
    background-color: rgba(255,255,255,0.6);
    top:0;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
}
#cruz{
    width: 30px;
    top:5px;
    right: 5px;
    position: absolute;
    cursor: pointer;


}
#cuadro_mensaje{
    border: 5px solid crimson;
    width: 500px;
    border-radius: 12px;
    position: relative;
    height: 100px;
}
#mensaje{
    font-size: 1.6em;
    color:crimson;
    text-align: center;

}